
<p>Find me in app/views/drivers/new.html.erb</p>

<%= form_for @driver do |f| %>
    <div>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :address %><br>
        <%= f.text_field :address %>
    </div>
    <div>
    <br>
    <%= f.submit %>
    </div>
<% end %>